ACCESS_TOKEN = 'TO45XnHj7NRpOuXIDE6g43mSwKJL6RlYUkI1Zd0iZZWICyg3CZB3Xmq3eH04fk0eWqWcmKwyXaHRtbbMLsakv5j7hdocXn6iAt2fqLwsS5RefyVO1XqGBEjhE5UYH1h064y4CAGvj8gxHYkhd87ZNXyS6CxDBBIVDU50lq9zVxWEoSAeXgFqBaoDmsxs0n6d56Ms3FexwQZ5ru69EbYRjffxE6mN9sH7l59VY5LQzv9w4wkaDKpqXha85e2b8dSdweQRzEoJyMumQ778yCG6SfVAVTnKSrj7mxcDrL3sYAeVKyxO34S6iyjSmpPdkltY';
REFRESH_TOKEN =	'zHF5jIO0KaXWyaqtS2epAGiztJhI8gJ63DBj54VCw4VIQ4i1ePILXs3MsQuARyH5ddDzClNZRwoTKGfEfdjdSa5Ocaj6UASNJvrPvX1LvKAuUGYHvxRGQGqHJFTJZJ5BBnJ2j40B7bbTfMu8HQa0z81ipDStLYLiP9rRpq3zObXyP8ycv9R6PfbPQ8OgNSaoic1GoFIsUaB98ekP7zW92uFiQZcbC6s32q69opXfEwR6tGqEnlt8cjzNHLM8yAfi';

CLOUDINARY_CLOUD_NAME = "dpqqqawyw"
CLOUDINARY_API_KEY = "879673747294557"
CLOUDINARY_API_SECRET = "JLGG7MExJufC-C_gf-b7nWNcjjw"
# MONGO_URL = 'mongodb://localhost:27017/BE_PetStore'
MONGO_URL = 'mongodb+srv://leminhduc5732:Minhduc1410@clusterminhduc.zo7hk3n.mongodb.net/?retryWrites=true&w=majority&appName=ClusterMinhDuc'
SUPABASE_URL='https://uuhpjnnklixplzixttkb.supabase.co'
SUPABASE_KEY = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InV1aHBqbm5rbGl4cGx6aXh0dGtiIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTczOTQ2NDMwNiwiZXhwIjoyMDU1MDQwMzA2fQ.aGZ_dQ-ldcnYD5ZSBsgUwBCPPL_AxERntzVi0a5K9q8'